.NAVBAR {
  background-color: #035397;
  color: white;
  padding: 20px;
}

.NAVBAR h2 {
  font-size: 2rem;

}


.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}


.logo {
  max-height: 30px;
}

.drinkImages {
  max-width: 50%;
}


button {
  width: 100vw;
  height: 5vh;
  border-radius: 1px;
  background-color: #035397;
  color: white;
  border-color: green;
}

button:hover {
  background-color: white;
  color: black;
}

i {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: none;
}

a {
  text-decoration: none;
    display: none;
}


body {
  background-color: #035397;
}


.recipeView {
  width: 100vw;
  padding-bottom: 100px;
  background-color: white;
  padding: 20px;
}

.recipeView h1 {
  font-weight: bolder;
  font-size: 2.3rem;
}
.recipeView hr {
  width: 60%;
  height: 10px;
}



.recipeView h3 {
  font-size: 1.5rem;
}

.recipeView .row {
  border: 2px solid #035397;
}
